/* .main{
    min-height: calc(100vh - 300px);
    background: linear-gradient(295deg, rgb(97, 97, 107) 0%, rgb(147, 194, 189) 50%, rgb(27, 132, 154) 100%);
	height: 300vh;
    color: goldenrod;
    font-size: x-large;
    text-align: center;
} */