body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: calc(100vh - 300px);
  background: linear-gradient(
    295deg,
    rgb(97, 97, 107) 0%,
    rgb(147, 194, 189) 50%,
    rgb(27, 132, 154) 100%
  );
  height: 300vh;
  color: rgb(52, 42, 17);
  font-size: x-large;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
